<footer class="bg-dark text-light text-center overflow-hidden position-fixed bottom-0 w-100">
  <p>Todos los derechos reservados - © 2023 Company, Inc</p>
</footer>
</div>

<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/sweetalert2/all.min.js"></script>