<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - SiGeRH</title>
  <link rel="icon" type="image/svg+xml"
    href="https://previews.123rf.com/images/rastudio/rastudio1708/rastudio170809234/84748279-icono-de-l%C3%ADnea-de-vector-de-recursos-humanos-aislado-sobre-fondo-blanco-icono-de-l%C3%ADnea-de-recursos.jpg" />

  <link href="/css/bootstrap/min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap/icons.css">
  <link rel="stylesheet" href="/css/style.css">
</head>