<div class="col-md-4">
    <label for="lastName" class="form-label">Apellido <small class="text-danger">(*)</small></label>
    <input type="text" class="form-control" id="lastName" placeholder="Ingrese el nombre" required>
  </div>
  <div class="col-md-4">
    <label for="name" class="form-label">Nombres <small class=" text-danger">(*)</small></label>
    <input type="text" class="form-control" id="name" placeholder="Ingrese el apellido" required>
  </div>
  <div class="col-md-4">
    <label for="username" class="form-label">Usuario <small class=" text-danger">(*)</small></label>
    <input type="text" class="form-control" id="username" placeholder="Ingrese el nombre de usuario" required>
  </div>
 
  <div class="col-md-3">
    <label for="role" class="form-label">Rol<small
        class=" text-danger">(*)</small></label>
    <select name="role" id="role" class="form-select" aria-label=".form-select-sm example" required>
      <option disabled selected>--Seleccione el Rol--</option>
      <option value="admin">Administración</option>
      <option value="user">Usuario Normal</option>
    </select>
  </div>