<%- include('./layouts/head.ejs', {title : 'Inicio' }) ;%>
<body class="h-100 d-flex flex-column">
    <%- include('layouts/nav'); %>
    <div id="height-cuerpo" class="row">        
        <%- include('layouts/menu-aside'); %>
        <div class="container-fluid py-5 px-md-5 col">
            <header class="d-flex align-items-center justify-content-between">
                <h1>
                    Página de inicio
                </h1>
            </header>
            <main class="col h-100">

            </main>
        </div>
        <%- include('layouts/footer'); %>
        <script src="/js/aside/index.js"></script>
</body>

</html>